@font-face { font-family: 'Henny Penny'; font-style: normal; font-weight: 400;  src: local('Henny Penny'), local('HennyPenny-Regular'), url('/font/hennypenny.woff') format('woff'); }
body { padding-top: 110px; padding-bottom: 40px; font-size: 15px;} 
h1.logo{font-family: 'Henny Penny', cursive; text-decoration: none; color: #0088CC;}
#brand{ float: left; margin-top: 10px;}
#brand a, #brand p{ display: block; }
#search{float: right; margin-top: 30px;}
div#home-search{height: 200px; display: block; text-align: center;}
div#home-search form {display:block; margin: 50px}
div#home-search form input {height: 32px;}
div#home-search h1{color: #0088CC}
div#search-result div p{text-align: center;}
div#search-result header{margin-bottom: 30px;}
div#search-result a{ display: block; position: relative; }
div#search-result ul.links a{font-size: 13px;}
div#search-result a img.bordered {padding: 5px; border: solid 1px #CCC; -moz-box-shadow: 1px 1px 5px #999; -webkit-box-shadow: 1px 1px 5px #999; box-shadow: 1px 1px 5px #999; z-index: 1; }
div#search-result a img.flickr{  position: absolute; width: 32px; height: 32px; bottom: 5px; right: 0; z-index: 100; }
footer#queries{text-align: justify; margin-top: 30px; font-size: 16px;}
footer#queries ul {margin: 30px;}
footer#queries li{list-style: none; display: inline; margin: 3px; }
footer#queries a {color: #333333;}