{% extends 'FrontendBundle::layout.html.twig' %}

{% block header %}
    {{ parent() }}
    <div id="search">
        {% include "FrontendBundle:Widgets:search.html.twig" %}
    </div>
{% endblock %}

{% block footer %}
    {% render "FrontendBundle:Widgets:latestQueries"%}
{% endblock %}