<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="{% block description %} | Search images across internet{% endblock %}">
        <meta name="author" content="desarrolla2">
        <title>{% block title %}| Replicus!{% endblock %}</title>        
        {% stylesheets 'css/bootstrap.css' 'css/bootstrap-responsive.css' '@FrontendBundle/Resources/public/css/*.css'  filter='yui_css' %}
                <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />        
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="/ico/favicon.ico" />
    </head>
    <body>
        <div id="fb-root"></div>
        <header class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    {% block header %}                               
                    <div  id="brand">
                        <a class="" href="{{ path('home') }}"><h1 class="logo">Replicus!</h1></a>
                        <p>"Search images across internet"</p>
                    </div>
                    {% endblock %}                     
                </div>
            </div>
        </header>
        <section id="main" class="container">            
            {% block body %}{% endblock %}            
        </section>
        <footer class="navbar container" id="queries">
            {% block footer %}{% endblock %}       
                <p>Give me feedback at <a href="https://twitter.com/desarrolla2">@desarrolla2</a></p>
                <p>&copy; Replicus 2012. developed by <a href="http://desarrolla2.com" target="_blank">desarrolla2</a>.</p>
        </footer>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
        {% javascripts  'js/bootstrap.js' '@FrontendBundle/Resources/public/js/*.js' filter='yui_js' %}
            <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
        {% block javascripts %}
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-23939978-6']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
        {% endblock %}
    </body>
</html>
