parameters:
  database_driver:   pdo_mysql
  database_host:     localhost
  database_port:     ~
  database_name:     imager_prod
  database_user:     root
  database_password: ''    

  mailer_transport:  smtp
  mailer_host:       localhost
  mailer_user:       ~
  mailer_password:   ~

  locale:            es_ES
  secret:            ThisTokenIsNotSoSecretChangeIt  
  
  cache_expires_home: 3600
  cache_expires_search: 21600
  cache_expires_view: 1296000