<h3>{{ title }}</h3>
<nav>
    <ul id="queries">
    {% for query in queries %}
            <li><a href="/s?s[q]={{ query }}" title="{{ query }} images" >{{ query }}</a></li>
    {% endfor %}
    </ul>
</nav>