{% extends 'FrontendBundle::layout.html.twig' %}
{% block body %}

{{ form_rest(form) }}
<div class="row">
    <div class="span3">
        <h2>Heading</h2>
        <p><img src="http://farm4.staticflickr.com/3194/2858790279_8436bac621.jpg" alt="" /></p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span3">
        <h2>Heading</h2>
        <p><img src="http://farm4.staticflickr.com/3194/2858790279_8436bac621.jpg" alt="" /></p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span3">
        <h2>Heading</h2>
        <p><img src="http://farm4.staticflickr.com/3194/2858790279_8436bac621.jpg" alt="" /></p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span3">
        <h2>Heading</h2>
        <p><img src="http://farm4.staticflickr.com/3194/2858790279_8436bac621.jpg" alt="" /></p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>        
</div>
<div class="row">
    <div class="span3">
        <h2>Heading</h2>
        <p><img src="http://farm4.staticflickr.com/3194/2858790279_8436bac621.jpg" alt="" /></p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span3">
        <h2>Heading</h2>
        <p><img src="http://farm4.staticflickr.com/3194/2858790279_8436bac621.jpg" alt="" /></p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span3">
        <h2>Heading</h2>
        <p><img src="http://farm4.staticflickr.com/3194/2858790279_8436bac621.jpg" alt="" /></p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span3">
        <h2>Heading</h2>
        <p><img src="http://farm4.staticflickr.com/3194/2858790279_8436bac621.jpg" alt="" /></p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>        
</div>
<div class="row">
    <div class="span2">
        <h2>Heading</h2>
        <p><img src="http://farm4.staticflickr.com/3194/2858790279_8436bac621.jpg" alt="" /></p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span2">
        <h2>Heading</h2>
        <p><img src="http://farm4.staticflickr.com/3194/2858790279_8436bac621.jpg" alt="" /></p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div> 
    <div class="span2">
        <h2>Heading</h2>
        <p><img src="http://farm4.staticflickr.com/3194/2858790279_8436bac621.jpg" alt="" /></p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div> 
    <div class="span2">
        <h2>Heading</h2>
        <p><img src="http://farm4.staticflickr.com/3194/2858790279_8436bac621.jpg" alt="" /></p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span2">
        <h2>Heading</h2>
        <p><img src="http://farm4.staticflickr.com/3194/2858790279_8436bac621.jpg" alt="" /></p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div> 
    <div class="span2">
        <h2>Heading</h2>
        <p><img src="http://farm4.staticflickr.com/3194/2858790279_8436bac621.jpg" alt="" /></p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div> 
</div>
<div class="row">
    <div class="span2">
        <h2>Heading</h2>
        <p><img src="http://farm4.staticflickr.com/3194/2858790279_8436bac621.jpg" alt="" /></p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span2">
        <h2>Heading</h2>
        <p><img src="http://farm4.staticflickr.com/3194/2858790279_8436bac621.jpg" alt="" /></p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div> 
    <div class="span2">
        <h2>Heading</h2>
        <p><img src="http://farm4.staticflickr.com/3194/2858790279_8436bac621.jpg" alt="" /></p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div> 
    <div class="span2">
        <h2>Heading</h2>
        <p><img src="http://farm4.staticflickr.com/3194/2858790279_8436bac621.jpg" alt="" /></p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span2">
        <h2>Heading</h2>
        <p><img src="http://farm4.staticflickr.com/3194/2858790279_8436bac621.jpg" alt="" /></p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div> 
    <div class="span2">
        <h2>Heading</h2>
        <p><img src="http://farm4.staticflickr.com/3194/2858790279_8436bac621.jpg" alt="" /></p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div> 
</div>
<div class="row">
    <div class="span2">
        <h2>Heading</h2>
        <p><img src="http://farm4.staticflickr.com/3194/2858790279_8436bac621.jpg" alt="" /></p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span2">
        <h2>Heading</h2>
        <p><img src="http://farm4.staticflickr.com/3194/2858790279_8436bac621.jpg" alt="" /></p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div> 
    <div class="span2">
        <h2>Heading</h2>
        <p><img src="http://farm4.staticflickr.com/3194/2858790279_8436bac621.jpg" alt="" /></p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div> 
    <div class="span2">
        <h2>Heading</h2>
        <p><img src="http://farm4.staticflickr.com/3194/2858790279_8436bac621.jpg" alt="" /></p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span2">
        <h2>Heading</h2>
        <p><img src="http://farm4.staticflickr.com/3194/2858790279_8436bac621.jpg" alt="" /></p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div> 
    <div class="span2">
        <h2>Heading</h2>
        <p><img src="http://farm4.staticflickr.com/3194/2858790279_8436bac621.jpg" alt="" /></p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div> 
</div>
<div class="row">
    <div class="span2">
        <h2>Heading</h2>
        <p><img src="http://farm4.staticflickr.com/3194/2858790279_8436bac621.jpg" alt="" /></p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span2">
        <h2>Heading</h2>
        <p><img src="http://farm4.staticflickr.com/3194/2858790279_8436bac621.jpg" alt="" /></p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div> 
    <div class="span2">
        <h2>Heading</h2>
        <p><img src="http://farm4.staticflickr.com/3194/2858790279_8436bac621.jpg" alt="" /></p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div> 
    <div class="span2">
        <h2>Heading</h2>
        <p><img src="http://farm4.staticflickr.com/3194/2858790279_8436bac621.jpg" alt="" /></p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span2">
        <h2>Heading</h2>
        <p><img src="http://farm4.staticflickr.com/3194/2858790279_8436bac621.jpg" alt="" /></p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div> 
    <div class="span2">
        <h2>Heading</h2>
        <p><img src="http://farm4.staticflickr.com/3194/2858790279_8436bac621.jpg" alt="" /></p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div> 
</div>
{% endblock %}