{% extends 'FrontendBundle::layout.html.twig' %}
{% block body %}
<div id="home-search">
    <header>
        <a class="" href="{{ path('home') }}"><h1>Imager!</h1></a>
        <h3>"Search images across internet"</h3>
    </header>
    <form class="form-search" action="{{ path('search') }}" method="get" >   
        <input type="text" id="s_q" name="s[q]" required="required"    placeholder="search ..." class="search-query span4" />
        <button type="submit" class="btn btn-primary btn-large">Search</button>
    </form>
</div>
{% endblock %}