{% extends 'FrontendBundle::layout.html.twig' %}
{% block title %} {{ query | upper }} | {{ parent() }}{% endblock %}
{% block body %}
    <div id="search-result">     
    {% for image in images %}
        {% if loop.index <= 68 %}
            {% if loop.index <= 8 %}
                {% if loop.index % 4 == 1%} <div class="row"> {% endif %}                    
                    <div class="span3">{% include "FrontendBundle:Search:item.html.twig" %}</div>
                    {% if loop.index % 4 == 0%} </div> {% endif %}
            {% else %}
                {% if (loop.index -8 )% 6 == 1%} <div class="row"> {% endif %}
                <div class="span2">{% include "FrontendBundle:Search:item.html.twig" %}</div>
                {% if (loop.index -8 )% 6 == 0%} </div> {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}